body {
    background-color: black;
    color: white;
}

.menu {
    color: aqua;
}

.box {
    width: 100px;
    height: 100px;
    background-color: aquamarine;
}

.red {
    background-color: red;
    transition: ease 1s;
}

.green {
    background-color: green;
    transition: ease 1s;
}